h2 {
  font-size: 3.5rem;
}

h3 {
  font-size:2.5rem;
}

.link-space {
  padding: 8px;
}

.su-container {
  text-align: center;
  margin: 20px;
}

.form-control {
  margin-top: 5px;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.login-box {
width: 100%;
max-width: 330px;
border-width:2px;
border-style:solid;
border-color:black;
}

.modal {
  margin: 0;
  text-align: center;
}

.width100 {
  width: 100%;
}

.vertical-crop {
  overflow: hidden;
}

.slideshow-height {
  max-height: 380px;
}

.vertical-crop-card {
  max-height: 200px;
  overflow: hidden;
}

.vertical-crop-car img {
  max-height: initial;
}

.farmer{
  margin-top: -200px;
}

.bauhaus-slideshow {
  margin-top: -450px;
}

.vertical-crop img {
  max-height: initial;
}

@media (max-width: 960px){
  .farmer{
    margin-top:0;
  }
  .bauhaus-slideshow{
    margin-top: -150px;
  }
}

@media (max-width: 370px){
  .bauhaus-slideshow{
    margin-top: 0;
  }
  .vertical-crop {
    max-height: 160px;
  }
}

.sushibarshu {
  margin-top: -150px;
}

.bauhaus {
  margin-top: -50px;
}

.farmersapprentice {
  margin-top: -80px;
}

.cacao {
  margin-top: -200px;
}

.poplargrovewinery {
  margin-top: -200px;
}

.wildebeest {
  margin-top: -50px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}